a:link {
    color: red;
}

a:hover {
    color: green;
}

a:active {
    color: green;
}

a:visited {
    color: orange;
}

.footer_link a {
    color: blue;
}


.headerCode {
    font-size: 5em;
}

.hidden {
    display: none;
}

.cursorBlink {
    font-weight: 100;
    color: grey;
    width: 1px;
    overflow: hidden;
    animation: blink 0.8s steps(100, start) infinite
}

.cursorBlinkHeader {
    font-weight: 100;
    font-size: 5em; 
    color: grey;
    width: 1px;
    overflow: hidden;
    animation: blink 0.76s steps(100, start) infinite
}

@keyframes blink {

    from,
    to {
        color: transparent
    }

    50% {
        color: grey
    }
}

@-moz-keyframes blink {

    from,
    to {
        color: transparent
    }

    50% {
        color: grey
    }
}

@-webkit-keyframes blink {

    from,
    to {
        color: transparent
    }

    50% {
        color: grey
    }
}

@-ms-keyframes blink {

    from,
    to {
        color: transparent
    }

    50% {
        color: grey
    }
}

@-o-keyframes blink {

    from,
    to {
        color: transparent
    }

    50% {
        color: grey
    }
}